.contact{
    position: relative;
    min-height: 100vh;
    padding: 80px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 50px;
    font-weight: 500;
    color: #9A7B4F;
}
.contact .content p{
    font-size: 20px;
    font-weight: 300;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
/* INFO */
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex; 
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #9A7B4F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}
.container .contactInfo .box .text{
    display: flex;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 400;
}
.container .contactInfo .box .text h3{
    color: #9A7B4F;
}
/* FEEDBACK  FORM */

.contactForm{
    width: 40%;
    padding: 40px;
    background: #9A7B4F;
    border-radius: 15px;
}
.contactForm h2{
    font-size: 30px;
    color: white;
    font-weight: 500;
    text-align: center;

}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input, .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 5px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 5px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: white;
    font-size: 16px;
    transform: translateY(-30px);
}

@media (max-width:920px) {
    .contactForm{
        width: 50%;
    }
}
@media (max-width:800px) {
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .contactForm{
        width: 100%;
    }
}
@media (max-width:450px) {
    .container .contactInfo{
        width: 100%;
    }
    .contact{
        padding: 100px 30px;
    }
}
@media (max-width:400px) {
    .container .contactInfo{
        width: 100%;
    }
    .contact{
        padding: 100px 30px;
    }
}