.container{
    display: flex;
    position: relative;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    padding: 10px 10px 0px 10px;
}

.headlinee{
    position: absolute;
    margin-top: 20px;
    left: 50%;
    font-family: 'Poppins',sans-serif;
    color: #9A7B4F;
    font-size: 50px;
    z-index: 50;
}
.content {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }
.product{
    display: flex;
    position: relative;
    width: 100%;
    height: 450px;
    top: 100px;
    left: 0px;
    padding: 0px 40px;
    text-align: center;
    font-size: larger;
    flex-direction: column;
}
.product img{
    width: 300px;
    height: 300px;
}
@media (max-width:920px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
    .headlinee{
        left: 40%;
    }
    .product {
        left: 0px;
        padding: 20px 40px;
        height: 350px;
        margin-bottom: 20px;
    }
    .product img{
        width: 200px;
        height: 200px;
    }
}
@media (max-width:800px) {
    .headlinee{
        left: 36%;
    }
    .product{
        left: 0px;
        padding: 20px 0px;
    }
}
@media (max-width:450px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
    .headlinee{
        left: 20%;
        font-size: 55px;
    }
    .product{
        margin-top: 20px;
        padding: 0px 40px;
        text-align: center;
        font-size: larger;
    }
    .product img{
        width: 250px;
        height: 250px;
    }

}