.container{
    display: flex;
    position: relative;
    max-width: 1555px;
    width: 100%;
    background: #9A7B4F;
    margin: 100px 0px 15px 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(0, 0, 0, .4);
    flex-direction: row;
    color: white;
}
.container h1{
    text-align: center;
    font-size: 40px;
}
.container .content{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.container .content .cart{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.container .content .cart img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.container .content .cart .price p{
    font-size: small;
    cursor: pointer;
}
.container .content .cart .qty{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container .content .cart .qty span{
    width: 30px;
    height: 40px;
    font-size: 20px;
    margin: 0 0px 0 5px;
    cursor: pointer;
}


.receipt{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.total{
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 300;
}
.iq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 160px;
}
.Tprice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 110px;
}
.submit{
    width: 10%;
}
.container .receipt input{
    width: 400px;
    align-self: center;
}